language: python
services:
  - memcached
  - redis-server
python:
# python selected by tox, so specify only one version here
  - "3.6"
addons:
  postgresql: "9.5"
before_install:
  # work around https://github.com/travis-ci/travis-ci/issues/8363
  - pyenv global system 3.5
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -c 'create database travis_ci_test2;' -U postgres
install:
  - pip install -U pip  # make sure we have the latest version
  - pip install -e .
  - pip install tox
  - pip install coveralls
script:
  - tox -e $TOX_ENV
after_success:
  - coveralls
env:
  - TOX_ENV="dj18-py27,dj18-py34,dj18-py35"
  - TOX_ENV="dj19-py27,dj19-py34,dj19-py35,dj19-py36"
  - TOX_ENV="dj110-py27,dj110-py34,dj110-py35,dj110-py36"
  - TOX_ENV="dj111-py27,dj111-py34,dj111-py35,dj111-py36"
  - TOX_ENV="dj200-py34,dj200-py35,dj200-py36"
  - TOX_ENV="py27-flake8,py36-flake8"
  - TOX_ENV="docs"
# Adding sudo: False tells Travis to use their container-based infrastructure, which is somewhat faster.
sudo: False
