# These are the reqs to build docs and run tests.
sphinx
mock
-e git://github.com/jbalogh/django-nose.git@6f060d49ee193a05734704820f3fea92ee1759d2#egg=django-nose
-e svn+http://code.djangoproject.com/svn/django/trunk@12335#egg=Django
python-memcached
-e git://github.com/jbalogh/test-utils.git#egg=test-utils
fabric
jinja2
