# These are the reqs to build docs and run tests.
sphinx
mock
django-nose
-e svn+http://code.djangoproject.com/svn/django/trunk@16922#egg=Django
python-memcached
-e git://github.com/jbalogh/test-utils.git#egg=test-utils
fabric
jinja2
redis
